<html>
<head>
  <meta charset="UTF-8">
  <title>Input Page</title>
  <link rel='stylesheet' href='/styleHome' />
  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
  <div id='logo'> Never Be Late! </div>

  <form method="GET" action='/display'>
    <input id="origin" name="origin" type="text" placeholder="Origin"></input>
    <input id="destination" name="destination" type="text" placeholder="Destination"></input>
    <input id="DTA" name="DTA" type="text" placeholder="Desired Time"></input>
    <input id="submit" type='submit' value="submit">
  </form>

</body>
</html>
