body{
background-color: #4285F4;
}

.name {
  color: black;
  position: relative;
  width: 27%;
  font-size: 2.5em;
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  text-align: right;
  left:12%;
  top: 150px;
}

.value {
  width: 60%;
  position: relative;
  display: inline-block;
  color: white;
  font-size: 2em;
  left:13%;
  top: 150px;
  font-family: 'Dosis', sans-serif;
}

.action {
  width: 60%;
  display: inline-block;
  position: relative;
  color: red;
  font-size: 2em;
  left:13%;
  top: 150px;
  font-family: 'Dosis', sans-serif;
}
